@import '../../../Variables/Variables';


.App-Internal__area1 {
    overflow-y: scroll;
    height: 400px;
    margin-top: 1rem;
    height: calc(var(--vh, 1vh) * 69);
    scrollbar-width: none;
}
.App-Internal__area1::-webkit-scrollbar {
    display: none;
}

.App-Internal-present .app-slide__present__body{
    text-align: center;
    padding: 1rem;
    & .description{
        color:$background-color;
        font-size: 1.75rem;
        font-weight: bold;
    }
    & .money{
        color:$App-subColor;
        & span{
            font-size: 2rem;
            font-weight: bold;
            color:black;
        }
    }
} 

.App-Internal-present .menu__present{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color:black;
    margin-top: 2rem;
    & .item__present{
        padding: 1rem;
        border: 1px solid #ebebeb;;
        width: 100%;
        & img{
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
        & h4{
            font-size: .85rem;
            text-transform: uppercase;
        }
        & p{
            font-size: .77rem;
            color:$App-subColor;
        }
    }
 
}