@import '../../Variables/Variables';

.app-footer .swiper-wrapper {
    background-color: $background-color;
    & .swiper-slide{
    height: 90px;
    }
}

.app-slide__footer{
    background-color: $App-background-card-footer;
    width: 150px;
    padding:0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p{
        font-size: .9rem;
    }
    & img{
        width: 23px;
        height: 23px;
    }
}
.models__footer{
    display: none;
}