@import '../../Variables/Variables';
.app-footer{
    margin-top: 4rem;
}
.app-footer .swiper-wrapper {
    background-color: $background-color;
    & .swiper-slide{
    height: 90px;
    width: 95px !important;
    margin-right: 9px !important;
    }
}

@media (max-width:370px){
    .app-footer .swiper-wrapper .swiper-slide{
        width: 89px !important;
    }
    .app-footer  .app-slide__footer p{
        font-size: .8rem;
    }
}
@media (max-width:340px){
    .app-footer .swiper-wrapper .swiper-slide{
        width: 84px !important;
    }
    .app-footer  .app-slide__footer p{
        font-size: .7rem;
    }
}
.app-slide__footer{
    background-color: $App-background-card-footer;
    width: 150px;
    padding:0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p{
        font-size: .9rem;
    }
    & img{
        width: 23px;
        height: 23px;
    }
}
.models__footer{
    display: none;
}