@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font:'Roboto',Arial, Helvetica, sans-serif;
$subText:#ca8ee2;
$background-color:#8a05be;

//App
$App-color-invoice:#df1b1b;
$App-color-transfer:#8a05be;
$App-subColor:#b0b0b0;
$App-color-footer:#646464;
$App-background-footer:#e3e3e3;
$App-background-card-footer:#9d33c8;
$App-green-color:#69c04f;
$App-red-color:#df1b1b;
$App-orange-color:#fa8a0a;
$App-blue-color:#2cafcf;
$App-background-internal-invoice:#3d2b40;
